//
//  Debug.xcconfig
//  DemoCI
//
//  Created by Alex on 11/1/16.
//  Copyright © 2017 AAA. All rights reserved.
//

#include "DemoCI/Resources/xcconfig/Raizlabs-Account.xcconfig"

PRODUCT_BUNDLE_IDENTIFIER = com.raizlabs.DemoCI.debug
PRODUCT_NAME = debug-$(TARGET_NAME)
DEVELOPMENT_TEAM = xxxxxx // FIXME: Insert debug TEAM ID here

CODE_SIGN_IDENTITY_DemoCI = iPhone Developer
PROVISIONING_PROFILE_DemoCI = xxxxxx // FIXME: Insert debug provisioning profile ID
// CODE_SIGN_ENTITLEMENTS = DemoCI/debug-DemoCI.entitlements // Enable to allow custom debug entitlements

FABRIC_API_KEY = $(INTERNAL_FABRIC_API_KEY)
FABRIC_BUILD_SECRET = $(INTERNAL_BUILD_SECRET)
SWIFT_ACTIVE_COMPILATION_CONDITIONS = DEBUG

// This file must be included last to properly resolve the offical Xcode variables.
#include "DemoCI/Resources/xcconfig/Global.xcconfig"
